<!DOCTYPE html>
<html lang="en" ng-app="ois">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Tallinna Tehnikaülikool - ÕIS</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="register.css" rel="stylesheet">
</head>

<body ng-controller="registerController">

<form name="registerForm" novalidate ng-submit="submitForm(email, password, passwordAgain)">
    <div class="loginpanel">
        <div class="txt">
            <input name="email" ng-model="email" id="user" type="email" placeholder="{{ emailHint }}"
                   ng-click="hideEmailFieldEmptyErrorMessage()"/>
            <label for="user" class="entypo-user"></label>
            <!--<p class="error" ng-show="registerForm.email.$invalid && !registerForm.email.$pristine && registerForm.email.$touched">-->
            <!--Palun sisesta korrektne email. N: juulius@ttu.ee</p>-->
            <p class="error"
               ng-if="submittedEmail && (email == undefined || email == '') && !(email.$invalid && !email.$pristine && email.$touched)">
                {{ emailFieldEmptyErrorMessage }}</p>
        </div>
        <div class="txt">
            <input name="password" ng-model="password" id="pwd" type="password" placeholder="{{ passwordHint }}"
                   ng-click="hidePasswordFieldEmptyErrorMessage()"/>
            <label for="pwd" class="entypo-lock"></label>
            <p class="error" ng-if="submittedPassword && (password == undefined || password == '')">{{
                passwordFieldEmptyErrorMessage}}</p>
        </div>
        <div class="txt">
            <input name="passwordAgain" ng-model="passwordAgain" id="pwd" type="password"
                   placeholder="{{ passwordAgainHint }}" ng-click="hidePasswordAgainFieldEmptyErrorMessage()"/>
            <label for="pwd" class="entypo-lock"></label>
            <p class="error" ng-if="password != passwordAgain && passwordAgain != undefined">{{
                passwordMismatchErrorMessage
                }}</p>
            <p class="error" ng-if="submittedPasswordAgain && (passwordAgain == undefined || passwordAgain == '')">{{
                passwordAgainFieldEmptyErrorMessage}}</p>
        </div>
        <div class="buttons">
            <input type="submit" value="{{registerHint}}"/>
    <span>
      <a href="../login/login.html" class="entypo-user-add register">Logi sisse</a>
    </span>
        </div>

        <div class="hr">
            <div></div>
            <div>VÕI</div>
            <div></div>
        </div>

        <div class="social">
            <a href="javascript:void(0)" class="facebook"></a>
            <a href="javascript:void(0)" class="twitter"></a>
            <a href="javascript:void(0)" class="googleplus"></a>
        </div>
    </div>
</form>
<!--<span class="resp-info"></span>-->


<!-- jQuery -->
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>

<!-- AngularJS setup -->
<script src="../../../js/angular.min.js"></script>

<!-- Bower components -->
<script src="../../../bower_components/angular-route/angular-route.js"></script>
<script src="../../../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../../../bower_components/angular-touch/angular-touch.min.js"></script>
<script src="../../../bower_components/angular-smart-table/dist/smart-table.min.js"></script>
<script src="../../../bower_components/angular-bootstrap-file-field/dist/angular-bootstrap-file-field.min.js"></script>

<script src="../../../app/app.js"></script>
<script src="../../../app/components/register/registerController.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Bootstrap Core AngularJS -->
<script src="../../../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../../../bower_components/metisMenu/dist/metisMenu.min.js"></script>

</body>
</html>