<!DOCTYPE html>
<html lang="en" ng-app="ois">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Õppeinfosüsteem - TTÜ</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../../../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../../dist/css/ois.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="homeController">
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">ÕIS - Tallinna Tehnikaülikool</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <button class="btn btn-default btn-sm" ng-click="changeView()">Vaheta vaadet (hetkel: {{role}})</button>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#/">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#/"><i class="fa fa-user fa-fw"></i> Profiil</a>
                    </li>
                    <li><a href="#/"><i class="fa fa-gear fa-fw"></i> Seaded</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="" ng-click="logout()">
                            <i class="fa fa-sign-out fa-fw pointer"></i>
                            Logi välja
                        </a>
                    </li>
                    <!--<li><a href="../../../app/components/login/login.html"><i class="fa fa-sign-out fa-fw"></i>-->
                    <!--Logi välja</a>-->
                    <!--</li>-->
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->


        <div ng-if="isRoleTeacher()" ng-include="'../../../app/shared/left_panel/left_panel_teacher.html'"
             ng-controller="leftPanelController"></div>

        <div ng-if="isRoleStudent()" ng-include="'../../../app/shared/left_panel/left_panel_student.html'"
             ng-controller="leftPanelController"></div>
    </nav>

    <!-- /#page-wrapper -->
    <div class="page about" ng-view></div>
</div>
<!-- jQuery -->
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>

<!-- AngularJS Setup -->
<script src="../../../js/angular.min.js"></script>
<!-- Bower components -->
<script src="../../../bower_components/angular-route/angular-route.min.js"></script>
<script src="../../../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../../../bower_components/angular-touch/angular-touch.min.js"></script>
<script src="../../../bower_components/angular-smart-table/dist/smart-table.min.js"></script>
<script src="../../../bower_components/angular-bootstrap-file-field/dist/angular-bootstrap-file-field.min.js"></script>

<script src="../../../app/app.js"></script>
<script src="../../../app/components/home/homeController.js"></script>
<script src="../../../app/components/study_results/studyResultsController.js"></script>
<script src="../../../app/shared/left_panel/leftPanelController.js"></script>
<script src="../../../app/components/grade_sheet_t/gradeSheetTeacherController.js"></script>
<script src="../../../app/components/work_submission/workSubmissionController.js"></script>
<script src="../../../app/components/student_groups/studentGroupsController.js"></script>

<!-- Bootstrap Core AngularJS -->
<script src="../../../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../../../bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
